#slider {
  padding-top: 70px;

  .slider {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 70px);
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      &:before {
        content: '';
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
      }
      .slide-content {
        position: absolute;
        height: 200px;
        top: 45%;
        left: 50px;
        margin-right: 20px;
        h1 {
          margin: 0;
          font-size: 48px;
          font-weight: 700;
          color: #fff;
        }

        h2 {
          color: #fff;
          margin: 10px 0 0 0;
          font-size: 24px;
        }

        .btn-get-started {
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 1px;
          display: inline-block;
          padding: 10px 30px;
          border-radius: 7px;
          transition: 0.5s;
          margin-top: 30px;
          color: #fff;
          background: #e03a3c;
        }
      }
    }
  }

  .slide.current {
    opacity: 1;
  }

  .slide:first-child {
    background: url('../imgs/1.jpg') no-repeat center center / cover;
  }
  .slide:nth-child(2) {
    background: url('../imgs/2.jpg') no-repeat center center / cover;
  }
  .slide:nth-child(3) {
    background: url('../imgs/3.jpg') no-repeat center center / cover;
  }
}
